:root {
  --text-color: #121627;
  --text-color-2: #6a6a6b;
  --border-color: #c7c7c7;
  --background-color: #e6e6e6;
  --input-background-color: #f3f2f2;
  --primary: #2c5eed;
  --primary-hover: #184AD9;
  --primary-active: #002CBB;
  --white: #ffffff;
  --red: #e00505;
  --yellow: #fadd6f;
  --orange: #f9822b;
  --orange-2: #f9ac2b;
  --cyan: #5aafaa;
}
